extends layout

block content
  h1 Please sign up
  //- TODO: add verification
  form#signup
    .name
      label(for="name") Name:
      input(type="text" name="name" required="required")
    .organization 
      label(for="type") Organization type: 
      select(name="type" required="required")
        option(value=0) Production
        option(value=1) Shipping
        option(value=2) End User
    .address(style="display: none;")
      input#address(type="text" name="address" required="required")
    .submit
      input(type="submit" value="Submit")

block endscripts 
  script(src="/javascripts/web3.min.js")
  script(src="/javascripts/initweb3.js")
  script.
    let web3;
    let form = document.getElementById('signup');
    form.onsubmit = async () => {
        let data = {}
        for (let i of form.elements) if (i.name) data[i.name] = i.value;
        console.log(data);
        let res = await fetch(
            '/api/adduser',
            {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
        );
        if (res.ok) window.location.replace("/users");
        else alert((await res.json())["error"]);
    }

    window.onload = async () => {
        web3 = await initweb3();
        console.log(web3);

        let address = (await web3.eth.getAccounts())[0];
        let response = await fetch(`/api/getuser?address=${address}`);
        if (response.status == 200) window.location.replace("/users");
        
        document.getElementById("address").value = address;
    }