doctype html
html
  head
    title TODO
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap')
    block scripts
  body
    nav
      ul
        li
          a(href='/users') Users
        li
          a(href='/') Home
    block content
    block endscripts