extends layout

block content
  h1 User page
  p Welcome to user page

block endscripts 
  script(src="/javascripts/web3.min.js")
  script(src="/javascripts/initweb3.js")
  script.
    let web3;

    window.onload = async () => {
        web3 = await initweb3();
        let address = (await web3.eth.getAccounts())[0];

        let response = await fetch(`/api/getuser?address=${address}`);
        if (response.status != 200) window.location.replace("/users/signup");
        response = await response.json();
        console.log(response);
    }