extends layout

block content
  h1 User page
  p Welcome to user page

block endscripts 
  script(src="/javascripts/web3.min.js")
  script(src="/javascripts/initweb3.js")
  script(src="/javascripts/account.js")
  script.
    let web3, address;

    window.onload = async () => {
        web3 = await initweb3();
        address = (await web3.eth.getAccounts())[0];

        requireaccount(address);
    }