body {
  padding: 0 50px;
  margin: 0;
  font: 25px 'Montserrat', sans-serif;
  color: black;
}

nav {
  margin: 0px;
  height: 80px;
  vertical-align: text-bottom;
}

nav ul {
  margin: auto;
  padding: 30px;
}

nav li {
  float: right;
  margin: 0;
  display: inline;
}

nav a {
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: black;
}